[defaults]
# This line specifies the location of the inventory file that Ansible will use to determine which hosts to manage. In this case, it is set to "./inventory.ini", which means that Ansible will look for an inventory file named "inventory.ini" in the current directory.
inventory = ./inventory.ini 
log_path = /var/log/roboshop/ansible.log
;ask_vault_pass = True
;vault_password_file = ~/roboshop-ansible-v3/.vault_pass